{% extends 'base.html' %}
{% block title%} Foody {% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for x in meals %}
    <div class="col">
        <div class="card h-100">
          <img src="{{ x.strMealThumb }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ x.strMeal }}</h5>
            <p class="card-text">'{{ x.strMeal }}' is a special meal item.</p>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}